<html>
<head>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body id ="p01">
        <div id="p00">
                <h1>Flight Blog</h1>
                <p><i>Blog Page!</i></p>
        </div>
        <div class="topnav">
                <a href="../index.html">Home</a>
                <a href="heater.php">Heater</a>
                <a class="active" href="blog.html">Blog</a>
                <a href="about.html">About</a>
        </div>
        <div id ="p01">
                <h2>Storys to Remember...</h2>
        </div>

        <section>
                <nav>
                        <form action="/action_page.php">
                                <input type="file" id="myFile" name="filename">
                                <input type="submit">
                        </form>
                        <ul>
                                <li><a href="../articles/file1.html">We went flying 10/10/2010</a></li>
                                <li><a href="../articles/file2.html">Thoughts about maintenance...</a></li>
                                <li><a href="../articles/file3.html">Teaching your son to fly</a></li>
                                <li><a href="../articles/file4.html">My First Air Show!</a></li>
                        </ul>
                </nav>
                <article>
                        <p id="blog-writeup"> 
                                Insert welcome paragraph explaining the page and what stuff
                                I want to talk about
                                This is a test to see 
                                how pressing enter does in the actuall page
                        </p>  
                </article>
        </section>
        
        <address class="footer">
                Written by Rob Chase.<br>
                For his Dad <br>
                To heat the Airplane <br>
                For Tech Support, Call 802-393-7535<br>
        </address>
        
</body>
</html>

